<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Intro</title>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>
    <div id="app">
        {{ message }}
        <br>
        <span v-bind:title="message2">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
        <br>
        <span v-if="seen">
            You are seeing this because seen condition is true !
        </span>
        <br>
        <br>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>

        <br>

        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <script type="text/javascript" src="index.js"></script>
</body>

</html>